#work-performance-datas {
  margin-top: 20px;

  .tbl-work-performance-datas {
    th {
      background-color: #628DB6;
      margin: 0;
      padding: 0 5px;
      min-width: 40px;
      color: #fff;
    }

    td {
      margin: 0;
      padding: 0 5px;
      border-color: #F3F3F3;
    }
  }
}
