@import "common/variables/color";
#searches {
    padding-left: 30px;
    margin-bottom: 30px;
  }

.actions {
  margin-top: 2px;
}

.label-search-name {
  margin-top: 7px;
}

.page {
  margin-top: 30px;
}

